.menu-list {
	list-style: none;
	color: orange;
	margin: 0 10px 0 10px;
	padding: 0;
}
.dropdown-parent{
	float:left;
	margin-right:10px;
}

.dropup-parent{
	float:left;
	margin-right:10px;
}

#transform,
#sidebar {
	color: rgb(0, 150, 101);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.drop-content {
    display: none;
		float:right;
    position:absolute;
    background-color: #2B2B2B;
    min-width: 50px;
		max-height: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
}

.dropdown:hover .drop-content {
    display: block;
}

.dropup {
    position: relative;
    display: inline-block;
}

.dropup:hover .drop-content {
    display: block;
		top:-130px;
}
