<!DOCTYPE html>
<html>
<head>
  <title></title>
  <meta charset="utf-8">
</head>
<body>
  <h1>user nameを入力してください</h1>
  <form action="/session" method="get">
    <input type="text" name="user_name">
  </form>
</body>
</html>