%footer#footer
  %ul.nav-items
    %li.nav-item.toggle-list-menu
      View
      %ul.nav-items
        %li.nav-item
          top
        %li.nav-item
          front
        %li.nav-item
          side
        %li.nav-item
          defoult
    %li.nav-item.toggle-list-menu
      Add
      %ul.nav-items
        %li.nav-item
          cube
        %li.nav-item
          plane
        %li.nav-item
          cylinder
        %li.nav-item
          sphere
        %li.nav-item
          pointlight
        %li.nav-item
          directionlight
        %li.nav-item
          spotlight
  %ul.nav-items
    %li.nav-item
      translate
    %li.nav-item
      scale
    %li.nav-item
      rotate