#side_bar.menu-open
  %ul.nav-items
    %li.nav-item.toggle-list-menu
      %i.fas.fa-caret-right
      ファイル
      %ul.nav-items
        %li.nav-item 
          新規作成
        %li.nav-item 
          削除
        %li.nav-item 
          保存
        %li.nav-item 
          インポート
    %li.nav-item.toggle-list-menu     
      %i.fas.fa-caret-right
      レンダー
    %li.nav-item 
      %i.fas.fa-caret-right
      セッション
    %li.nav-item
      %i.fas.fa-caret-right 
      ヘルプ